<!doctype html>
<html>
<title>Nellie Bot</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='nellie.png') }}" type="image/png">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
<h1>{{ greeting }}</h1><p>
I am Nellie-Bot. I am a one-stop news aggregator, bringing you the top news of the day, from all your favorite sources!
<img src="{{url_for('static', filename='nellie.jpg') }}" style="float:right; width:41.66%;margin-left:2rem">
<p><h2>Where would you like to begin?</h2><p>
<form method='post'>
<input type="submit" id="submit" name="nytimes" value="New York Times"><p>
<input type="submit" id="submit" name="washpost" value="Washington Post"><p>
<input type="submit" id="submit" name="nprnews" value="NPR News"><p>
<input type="submit" id="submit" name="buzzfeed" value="Buzzfeed"><p>
<input type="submit" id="submit" name="marketplace" value="Marketplace"><p>
<input type="submit" id="submit" name="hackernews" value="HackerNews"><p>
{% block body %} 
{% endblock %}
</div>
</form>
<div id="footer">
{% block footer %} 
<form method='post'>
<center>
<input type="submit" id="submit" name="about" value="About Nellie">
<p></center>
{% endblock %}
</div>
</html>
